env/
resources/
src/more/
src/main/attract_score.jsonl
src/main/config.cfg
src/main/config.py
src/main/face_score.txt
src/main/get_user_id_and_image_old.py
src/main/twitter_client.py
src/main/twitter_client.pyc
src/main/twitter_scrape.py
src/main/twitter_scrape_old.py
src/main/twitter_streaming.py
src/main/twitter_streaming2.py
src/main/utility_file.txt
src/main/VideoMusicAwards.jsonl
src/main/vma.jsonl
src/vma.jsonl
src/sample_response.json
src/Twitter_Conversation.html
src/__pycache__/twitter_client.cpython-35.pyc
src/main/users/
src/main/topics/
